body {
  margin-top: 25vh;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  form, .todo-container {
    padding: 15px;
  }

  button {
    padding: 14px;
  }

  h1, h2, h3 {
    font-size: 1.5rem;
  }

  li {
    padding: 10px;
  }
}
